/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 40px;
  background-color: #f5f7fa;
} */
 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f9ff;
}

.container {
  padding: 40px;
}

h1 {
  color: #d32f2f;
}

h2 {
  color: #1976d2;
}

h3 {
  color: #444;
}

p {
  font-size: 16px;
  color: #333;
}

button {
  padding: 10px 16px;
  margin: 6px;
  border: none;
  border-radius: 6px;
  background-color: #1976d2;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #0d47a1;
}

input, select, textarea {
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  width: 250px;
}

hr {
  margin: 30px 0;
}

.navbar {
  background-color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #1976d2;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h3 {
  margin-top: 0;
}

.card p {
  font-size: 14px;
  color: #555;
}

.card {
  border-left: 6px solid #8eb6df;
}

.card.emergency {
  border-left-color: #d32f2f;
}

.card.care {
  border-left-color: #388e3c;
}


.btn-emergency {
  background-color: #d32f2f;
}

.btn-emergency:hover {
  background-color: #b71c1c;
}

.btn-hospital {
  background-color: #1976d2;
}

.btn-care {
  background-color: #388e3c;
}



